@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* sidebar  */
#sidebar {
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.896);
}

.nav-menu{
    background-color: #f1f1f1;
    width: 340px;
    /* height: 100vh; */
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: ease 1000ms;
    z-index: 999;
}

.nav-menu-active {
    left: 0;
    transition: 350ms;
    background-color: #555;
    width: 280px;
    /* height: 100vh; */
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    
    
}

/* slideshow */

.slideshow {
    /* margin: 0 auto; */
    overflow: hidden;
    /* max-width: 100vw; */
  }
  
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
    /* width: 100%; */
    /* height: 100%; */
    
  }


  .slide-img  {
    /* background-size: "contain"; */
    /* height: 70vh; */
    /* font-size: 50px; */
 
    /* background-repeat: no-repeat; */
  }
  
  /* Buttons */
  .slideshowDots {
    text-align: center;
  }
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: rgb(207, 207, 207);
  }

  .slideshowDot.active {
    background-color: #c4002c;
  }